@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:wght@100&family=Schibsted+Grotesk&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul li {
    list-style: none;
}
a {
    text-decoration: none   ;
}
.header {
    height: 46px;
    background-color: black;
    display: flex;
    justify-content:space-between;
}
.header .navigation li {
    display: inline-block;
    position: relative;
}
.header .navigation > li > a {
    display:block;
    color: #fff;
    text-transform : uppercase;
    line-height: 46px;
    padding: 0 24px;
    font-size: 15px;
}
.navigation > li:hover > a {
    background-color: #ccc;
    color :black;
}
.header i {
    color :#fff;
    line-height: 46px;
    padding: 0 24px;

}
.header i:hover {
    background-color: #f44336;
    cursor: pointer;
}
.sub-nav {
    background-color: #fff;
    position: absolute;
    display: none;
    /* padding: 5px; */
}
.sub-nav li:hover {
    background-color: #ccc;
}
.sub-nav li{
    width: 100%;
    padding : 10px 20px;
}
.sub-nav li a{
    color: #000;
    /* background-color: #ccc; */
    /* display: block; */

}
.navigation li:hover .sub-nav {
    display: block;
}

.home {
    padding-top: 50%;
    background: url("./chicago.jpg") top center / cover no-repeat;
}
.content {
    text-align: center;
    padding: 32px 16px;
}
.content h2{
    margin: 10px 0px;
    font-size: 24px;   
    color: #fff !important;
}
.content p{
    margin: 15px 0px;
}
.band {
    margin: 0px 356px;
    padding: 64px 16px;
}
.band-content h1{
    margin: 10px 0px;
    color: #000;
    font-size: 30px; 
    text-align: center; 
    font-weight:300;    
    letter-spacing:2px;
}
.band-content span{
    text-align: center;
    font-style: italic;
    display: block;
    margin: 15px 0px;
    color:#ccc;
}
.band-content p{
    text-align: justify;
    margin: 15px 0px;
    line-height: 1.5;
}
.band-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}
.member-item img {
    width: 160px;
    border-radius: 4px  ;
}
.member-item h3 {
    text-align: center;
    margin: 15px 0px;
    font-size: 15px;
    font-weight: 400;
}
.tour-dates {
    background-color: #000;
}
.tour-container {
    margin: 0px 356px;
    padding: 64px 16px;
    max-width: 980px;
}
.heading-tour h1 {
    margin:10px 0px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.heading-tour p {
    text-align: center;
    color:#ccc;
    font-style: italic;
    margin:15px 0px;
}
.ticket-list {
    background-color: #fff;
    border-bottom: #fff;
    border:1px #ccc;
    color: #757577;
    list-style-type:none;  
}
.ticket-list li {
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;
}
.sold-out {
    background-color: #f44336;
    margin: 0px 0px 0px 16px;
    font-size: 15px;
    color: #fff;
    padding: 0px 8px;
    list-style-type: none ;
}
.quantity {
    float: right;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #000;
    color:#fff;
    line-height:24px ;
    text-align: center; 
}
.place-items {
    
    color: #fff;
    background-color: #000;
    justify-content: center;
    width: 246px;
}
.place-list {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.place-items img {
    width: 100%;
    display: block;
}
.place-content {
    color: #000;
    padding: 0.15px 16px;
    background: #fff;
}
.place-content h2 {
    font-size: 15px;
    margin: 15px 0px;
}
.place-content p {
    margin: 15px 0px;
    font-size: 15px;
    color: #000;
}
.place-content span {
    display: block;
    color: #ccc;
    margin: 15px 0px;
}
.place-content a {
    color: #fff;
    background-color: #000;
    font-size: 15px;
    margin: 0px 0px 16px;
    padding: 8px 16px;
    display: inline-block;
}

.contact {
    margin: 0px 356px;
    padding: 64px 16px;
}
.content h2 {
    color: #000;
    font-size: 30px;
    margin: 10px 0px;
     font-weight:400;
     letter-spacing:4px;
}
.content p {
    color: #ccc;
    margin: 15px 0px;
    font-size: 15px;
}
.flex-contact {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.contact-left {
    margin: 0px 0px 16px;
    font-size: 18px;
}
.contact-left p i {
    margin-right: 10px;
}
.contact-right .infor input {
    padding: 8px;
}
.message {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
}
.send {
    display: block;
    float: right;
    padding: 8px 16px;
    margin: 16px 0px;
    color: #fff;
    background-color: #000;
}
.send:hover {
    background-color: #ccc;
    color:#000;
}
.footer-img img {
    height: 750.94px;
    display: block;
    width: 100%;
}
.icon {
    justify-content: center;
    display: flex;
    padding-top: 64px;
}   
.icon i {
    margin: 0px 10px
}
.end {
    font-size: 15px;
     padding-bottom: 64px;
    margin: 15px 0px;
    text-align: center;
}

